venv/
__pycache__/
*.pyc
mp38/
not_required_local/
dataset/
data/
# Environment variables
.env
backend/.env
frontend/.env
node_modules
models/best_facial_model.h5
models/resnet50_6450acc_facial_model.pth
models/speech_cnn
models/speech_mlp
models/speech_wav2vec/wav2vec2_emotion.pt
models/speech_wav2vec/wav2vec2_emotion_best.pt
models/speech_wav2vec/speech_wav2vec.pt
models/speech_wav2vec/__pycache__/
models/posture_cnn_balanced_v2.pt
models/speech_wav2vec.pt
outputs/server