venv/
__pycache__/
*.pyc
mp38/
not_required_local/
dataset/
data/
# Environment variables
.env
backend/.env
frontend/.env
node_modules
models/best_facial_model.h5
models/resnet50_6450acc_facial_model.pth